<a href="https://colab.research.google.com/github/mborkhat/AISem3/blob/master/HW/HW_HomeCreditDefault_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dataset with Kaggle API

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [3]:
cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [ ]:
!kaggle competitions download -c home-credit-default-risk

In [4]:
!unzip \*.zip  && rm *.zip

Archive:  POS_CASH_balance.csv.zip
replace POS_CASH_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [6]:
application_train=pd.read_csv("application_train.csv")

In [7]:
application_test=pd.read_csv("application_test.csv")

In [33]:
bureau = pd.read_csv("bureau.csv")
bureau_balance= pd.read_csv("bureau_balance.csv")
credit_card_balance = pd.read_csv("credit_card_balance.csv")
installments_payments = pd.read_csv("installments_payments.csv")
previous_application = pd.read_csv("previous_application.csv")
POS_CASH_balance = pd.read_csv("POS_CASH_balance.csv")

In [34]:
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462  ...               -131         NaN
1      215354       5714463  ...                -20         NaN
2      215354       5714464  ...                -16         NaN
3      215354       5714465  ...                -16         NaN
4      215354       5714466  ...                -21         NaN

[5 rows x 17 columns]

In [35]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [36]:
credit_card_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0

[5 rows x 23 columns]

In [37]:
installments_payments.head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [38]:
previous_application.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [39]:
POS_CASH_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [8]:
data =  pd.concat(objs=[application_train, application_test], axis=0).reset_index(drop=True)

In [9]:
data.drop('SK_ID_CURR', axis=1, inplace=True)

In [10]:
application_train.shape

(307511, 122)

In [11]:
application_test.shape

(48744, 121)

In [12]:
data.shape

(356255, 121)

In [13]:
num_col = data.select_dtypes('number').drop(['TARGET'], axis=1).columns
object_col = set(data.columns)-set(num_col)

In [14]:
num_col.shape

(104,)

In [15]:
for i in num_col:
   data[i].fillna(data[i].mean(),inplace=True)

for o in object_col:
   data[o].fillna(data[o].mode()[0],inplace=True)

In [16]:
data.isnull().sum().sort_values(ascending=False)

AMT_REQ_CREDIT_BUREAU_YEAR      0
YEARS_BEGINEXPLUATATION_MODE    0
WEEKDAY_APPR_PROCESS_START      0
HOUR_APPR_PROCESS_START         0
REG_REGION_NOT_LIVE_REGION      0
                               ..
NONLIVINGAREA_MEDI              0
FONDKAPREMONT_MODE              0
HOUSETYPE_MODE                  0
TOTALAREA_MODE                  0
TARGET                          0
Length: 121, dtype: int64

In [17]:
data.shape

(356255, 121)

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in object_col:
    data[i]=le.fit_transform(data[i])

In [19]:
train_ = data[:307511]
test_ = data[307511:].drop(['TARGET'], axis=1)

In [20]:
application_train.shape,application_test.shape

((307511, 122), (48744, 121))

In [21]:
train_.shape,test_c.shape

((307511, 121), (48744, 120))

In [22]:
X = train_.drop(["TARGET"], axis=1)
y = train_["TARGET"]

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=train_test_split(X,y,test_size=0.2)

In [24]:
X_train.shape

(246008, 120)

In [25]:
X_valid

        NAME_CONTRACT_TYPE  ...  AMT_REQ_CREDIT_BUREAU_YEAR
229364                   0  ...                    0.000000
253672                   0  ...                    3.000000
296070                   0  ...                    2.000000
99523                    0  ...                    2.000000
154152                   0  ...                    3.000000
...                    ...  ...                         ...
10734                    0  ...                    0.000000
6594                     0  ...                    7.000000
207102                   0  ...                    1.911564
282376                   0  ...                    2.000000
299060                   0  ...                    2.000000

[61503 rows x 120 columns]

In [40]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
y_pred = logreg.predict(X_valid)

In [42]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_valid, y_valid)))

Accuracy of logistic regression classifier on test set: 0.92

In [43]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_valid))

              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61503
           1       0.00      0.00      0.00         0

    accuracy                           0.92     61503
   macro avg       0.50      0.46      0.48     61503
weighted avg       1.00      0.92      0.96     61503

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Decision Tree

In [31]:
from sklearn.ensemble import RandomForestClassifier
rfclf=RandomForestClassifier().fit(X_train,y_train)
y_pred=rfclf.predict(X_valid)
print(classification_report(y_pred,y_valid))

              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61488
           1       0.00      0.80      0.00        15

    accuracy                           0.92     61503
   macro avg       0.50      0.86      0.48     61503
weighted avg       1.00      0.92      0.96     61503

XGBoost

In [44]:
from xgboost import XGBClassifier
xgbclf = XGBClassifier(objective='binary:logistic')
xgbclf.fit(X_train,y_train)
y_pred=xgbclf.predict(X_valid)
print(classification_report(y_pred,y_valid))

              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61457
           1       0.01      0.63      0.01        46

    accuracy                           0.92     61503
   macro avg       0.50      0.78      0.49     61503
weighted avg       1.00      0.92      0.96     61503